<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.amalgam.tutorials.emf.droid.presentation.DroidModelWizardID"
            name="%_UI_DroidModelWizard_label"
            class="org.eclipse.amalgam.tutorials.emf.droid.presentation.DroidModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DroidModelFile.gif">
         <description>%_UI_DroidModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.amalgam.tutorials.emf.droid.presentation.DroidEditorID"
            name="%_UI_DroidEditor_label"
            icon="icons/full/obj16/DroidModelFile.gif"
            extensions="droidmodel"
            class="org.eclipse.amalgam.tutorials.emf.droid.presentation.DroidEditor"
            contributorClass="org.eclipse.amalgam.tutorials.emf.droid.presentation.DroidActionBarContributor">
      </editor>
   </extension>

</plugin>
