<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

<!-- ORIGINAL -->
<!--
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/amalgam/tutorials/emf/Droid"
            class="org.eclipse.amalgam.tutorials.emf.droid.provider.DroidItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
-->

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/amalgam/tutorials/emf/Droid"
            class="org.eclipse.amalgam.tutorials.emf.droid.providers.DroidEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="org.eclipse.amalgam.tutorials.emf.droid.providers.DroidPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.amalgam.tutorials.emf.droid.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.amalgam.tutorials.emf.droid.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.amalgam.tutorials.emf.droid.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Application"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Application">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ApplicationUsesSDK"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ApplicationUsesSDK">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Resource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Resource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Layout"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Layout">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AbstractActivity"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AbstractActivity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Activity"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Activity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.GenericActivity"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.GenericActivity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ViewCollection"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ViewCollection">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ListActivity"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ListActivity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TabActivity"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TabActivity">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Tab"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Tab">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ActionSet"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ActionSet">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Action"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Action">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.GoToURLAction"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.GoToURLAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ShowLayoutAction"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ShowLayoutAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.InvokeActivityAction"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.InvokeActivityAction">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AbstractLinearLayout"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AbstractLinearLayout">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AbstractView"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AbstractView">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.View"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.View">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.LinearLayout"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.LinearLayout">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.RelativeLayout"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.RelativeLayout">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TabHost"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TabHost">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TabWidget"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TabWidget">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.FrameLayout"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.FrameLayout">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.LayoutParams"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.LayoutParams">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Widget"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Widget">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AbstractTextView"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AbstractTextView">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TextView"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TextView">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ImageView"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ImageView">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Button"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Button">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.Spinner"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.Spinner">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.EditText"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.EditText">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ValueAccess"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ValueAccess">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.StringVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.StringVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.IntegerVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.IntegerVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.BooleanVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.BooleanVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ColorVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ColorVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DimensionVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DimensionVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.LayoutDimensionVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.LayoutDimensionVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AnyDrawableVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AnyDrawableVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DrawableVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DrawableVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AnimationVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AnimationVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.InterpolatorVA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.InterpolatorVA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ValueDefinition"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ValueDefinition">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.StringVD"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.StringVD">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.IntegerVD"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.IntegerVD">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.BooleanVD"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.BooleanVD">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ColorVD"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ColorVD">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DimensionVD"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DimensionVD">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ValueResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ValueResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.StringResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.StringResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.IntegerResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.IntegerResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.BooleanResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.BooleanResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ColorResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ColorResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DimensionResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DimensionResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ArrayResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ArrayResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.IntegerArrayResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.IntegerArrayResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.StringArrayResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.StringArrayResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TypedArrayResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TypedArrayResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DrawableResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DrawableResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.BitmapDrawableResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.BitmapDrawableResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TransitionDrawableResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TransitionDrawableResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.MenuResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.MenuResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.MenuItem"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.MenuItem">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.MenuItemGroup"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.MenuItemGroup">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.SubMenu"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.SubMenu">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AnimationResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AnimationResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.FrameAnimationElement"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.FrameAnimationElement">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TerminalAnimationElements"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TerminalAnimationElements">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TerminalAnimationSet"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TerminalAnimationSet">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AlphaAnimation"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AlphaAnimation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ScaleAnimation"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ScaleAnimation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TranslateAnimation"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TranslateAnimation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.RotateAnimation"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.RotateAnimation">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.TweenAnimationResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.TweenAnimationResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.FrameAnimationResource"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.FrameAnimationResource">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AnimationFrame"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AnimationFrame">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AbstractResourceAccess"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AbstractResourceAccess">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ResourceAccess"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ResourceAccess">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.StringRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.StringRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.IntegerRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.IntegerRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.BooleanRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.BooleanRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.ColorRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.ColorRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DimensionRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DimensionRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.DrawableRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.DrawableRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.AnimationRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.AnimationRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.InterpolatorRA"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.InterpolatorRA">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.CheckBox"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.CheckBox">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.RadioButton"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.RadioButton">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.RadioGroup"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.RadioGroup">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="org.eclipse.amalgam.tutorials.emf.droid.section.MenuGroup"
               tab="Base">
             <input
                    type="org.eclipse.amalgam.tutorials.emf.droid.MenuGroup">
             </input>
         </propertySection>
      </propertySections>
   </extension>


</plugin>
